{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Shanaka C. DeSoysa</span>
                    <br>
                    <span class="major_line">Collective Dynamics of Complex Systems</span>
                    <br>
                    <span class="minor_line">Mathematical Methods and Related Topics in Science</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <a href="about/eric_pena.html">Shanaka C. DeSoysa</a> is a graduate student and Clark Fellow at <a href="https://www.binghamton.edu/">State University of New York at Binghamton</a>. Notes will be added over time as I sort through and compile all my work.
                </p>
            </div>
        </div>
<!-----------------------------------------------------------------------------
                                PHYSICS
------------------------------------------------------------------------------>
        <div class="row" id="physics">
            <div class="col-sm-12">
                <h3 class="category_header">Physics</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "physics/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                COMPLEX SYSTEMS
------------------------------------------------------------------------------>
        <div class="row" id="complex_systems">
            <div class="col-sm-12">
                <h3 class="category_header">Complex Systems</h3>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "complex_systems/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-----------------------------------------------------------------------------
                                MATHEMATICS
------------------------------------------------------------------------------>
        <div class="row" id="mathematics">
            <div class="col-sm-12">
                <h3 class="category_header">Mathematics</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "mathematics/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                STATISTICS
------------------------------------------------------------------------------>
        <div class="row" id="statistics">
            <div class="col-sm-12">
                <h3 class="category_header">Statistics</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "statistics/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                NETWORK SCIENCE
------------------------------------------------------------------------------>
        <div class="row" id="network_science">
            <div class="col-sm-12">
                <h3 class="category_header">Network Science</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "network_science/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                MACHINE LEARNING
------------------------------------------------------------------------------>
        <div class="row" id="machine_learning">
            <div class="col-sm-12">
                <h3 class="category_header">Machine Learning</h3>
            </div>
        </div>

        <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-header">Basics</h4>
                        <div class="card-body">
                            <ul>
                                {{ $section := site.GetPage "machine_learning/basics" }}
                                {{ with $section }}
                                    {{ range .Pages }}
                                        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
<!-----------------------------------------------------------------------------
                                PYTHON
------------------------------------------------------------------------------>
        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Python</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "python/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                MATHEMATICA
------------------------------------------------------------------------------>
        <div class="row" id="mathematica">
            <div class="col-sm-12">
                <h3 class="category_header">Mathematica</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "mathematica/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                JULIA
------------------------------------------------------------------------------>
        <div class="row" id="julia">
            <div class="col-sm-12">
                <h3 class="category_header">Julia</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "julia/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                R
------------------------------------------------------------------------------>
        <div class="row" id="r_programming">
            <div class="col-sm-12">
                <h3 class="category_header">R Programming</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "r_programming/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                DATA SCIENCE MANAGEMENT
------------------------------------------------------------------------------>
        <div class="row" id="projects">
            <div class="col-sm-12">
                <h3 class="category_header">Projects</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "projects" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                ARTICLES
------------------------------------------------------------------------------>
        <div class="row" id="articles">
            <div class="col-sm-12">
                <h3 class="category_header">Articles<!-- <a style="float: right;" href="{{ .Site.BaseURL }}/articles/index.xml">RSS</a>-->
                </h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="article_list card-body">
                        <ul>
                            {{ $section := site.GetPage "articles" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                END
------------------------------------------------------------------------------>        
    </div>
</main>
{{ end }}