{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Notes On</span>
                    <br>
                    <span class="major_line">Applied Data Science, Machine Learning, Programming</span>
                    <br>
                    <span class="minor_line">Productionizing Data Science</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <a href="about/shanaka_desoysa.html">Shanaka C. DeSoysa</a> is a Data Scientist and a 
                    full-stack Software Developer with over a decade of experience. 
                </p>
            </div>
        </div>
<!-----------------------------------------------------------------------------
                                PYTHON
------------------------------------------------------------------------------>
<div class="row" id="python">
    <div class="col-sm-12">
        <h3 class="category_header">Python</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h4 class="card-header">Basics</h4>
            <div class="card-body">
                <ul>
                    {{ $section := site.GetPage "python/basics" }}
                    {{ with $section }}
                        {{ range .Pages }}
                            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h4 class="card-header">Pandas</h4>
            <div class="card-body">
                <ul>
                    {{ $section := site.GetPage "python/pandas" }}
                    {{ with $section }}
                        {{ range .Pages }}
                            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>


<!-----------------------------------------------------------------------------
                                DEEP LEARNING
------------------------------------------------------------------------------>
<div class="row" id="statistics">
    <div class="col-sm-12">
        <h3 class="category_header">Deep Learning</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h4 class="card-header">PyTorch</h4>
            <div class="card-body">
                <ul>
                    {{ $section := site.GetPage "deep_learning/pytorch" }}
                    {{ with $section }}
                        {{ range .Pages }}
                            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h4 class="card-header">Tensorflow</h4>
            <div class="card-body">
                <ul>
                    {{ $section := site.GetPage "deep_learning/tensorflow" }}
                    {{ with $section }}
                        {{ range .Pages }}
                            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h4 class="card-header">Keras</h4>
            <div class="card-body">
                <ul>
                    {{ $section := site.GetPage "deep_learning/keras" }}
                    {{ with $section }}
                        {{ range .Pages }}
                            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-----------------------------------------------------------------------------
                                NETWORK SECURITY
------------------------------------------------------------------------------>
<div class="row" id="python">
    <div class="col-sm-12">
        <h3 class="category_header">Network Security and Ethical Hacking</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h4 class="card-header">Kali Linux</h4>
            <div class="card-body">
                <ul>
                    {{ $section := site.GetPage "network_security/kali_linux" }}
                    {{ with $section }}
                        {{ range .Pages }}
                            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-----------------------------------------------------------------------------
                                STATISTICS
------------------------------------------------------------------------------>
        <div class="row" id="statistics">
            <div class="col-sm-12">
                <h3 class="category_header">Statistics</h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "statistics/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

<!-----------------------------------------------------------------------------
                                MACHINE LEARNING
------------------------------------------------------------------------------>
        <div class="row" id="machine_learning">
            <div class="col-sm-12">
                <h3 class="category_header">Machine Learning</h3>
            </div>
        </div>

        <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-header">Basics</h4>
                        <div class="card-body">
                            <ul>
                                {{ $section := site.GetPage "machine_learning/basics" }}
                                {{ with $section }}
                                    {{ range .Pages }}
                                        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->

<!-----------------------------------------------------------------------------
                                ARTICLES
------------------------------------------------------------------------------>
        <div class="row" id="articles">
            <div class="col-sm-12">
                <h3 class="category_header">Articles<!-- <a style="float: right;" href="{{ .Site.BaseURL }}/articles/index.xml">RSS</a>-->
                </h3>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="article_list card-body">
                        <ul>
                            {{ $section := site.GetPage "articles" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-----------------------------------------------------------------------------
                                END
------------------------------------------------------------------------------>        
    </div>
</main>
{{ end }}